<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>379598590595-ebmggt3vn0q6ngjbuqkk5fq8rbsccool.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379598590595-ebmggt3vn0q6ngjbuqkk5fq8rbsccool</string>
	<key>API_KEY</key>
	<string>AIzaSyCo_LQmPdyHTQnifsjwD47gRe4La89voog</string>
	<key>GCM_SENDER_ID</key>
	<string>379598590595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finalpps.fafafermauro</string>
	<key>PROJECT_ID</key>
	<string>ppsfsz-18b16</string>
	<key>STORAGE_BUCKET</key>
	<string>ppsfsz-18b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379598590595:ios:e3519927e4450a84</string>
	<key>DATABASE_URL</key>
	<string>https://ppsfsz-18b16.firebaseio.com</string>
</dict>
</plist>