<ion-header>
  <ion-navbar>
    <ion-title>Asistencia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-content>
    <ion-card *ngFor="let a of alumnos | async" (click)="selecAlumno(a.$key)" class="item-alumno">
      <ion-item>
        <h2>{{a.apellido}}, {{a.nombre}}</h2>
        <p>Legajo: <b>{{a.legajo}}</b></p>
        <ion-icon name='md-checkmark' class="completo" id="{{a.$key}}" style="visibility: hidden;" item-end></ion-icon>
        {{setVisibility(a, a.$key)}}
      </ion-item>
    </ion-card>
    <button ion-button block color="secondary" (click)="completarMateria(current.nombre, current.curso)" *ngIf="getListo() == 0">Completar</button>
    <button ion-button block color="primary" (click)="reabrirMateria(current.nombre, current.curso)" *ngIf="getListo() == 1">Reabrir</button>
  </ion-content>

</ion-content>