page-perfil {

    .fondoMenu {
        
        background-color:lightgreen;
    }

    .itemMenu {
        background-color:lightgreen;
        
    }

    ion-title {
        background-color:#EECD90;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
     }

    img.foto {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 140px;
        height:180px;
    }
    
    .alertDanger {
        background-color: #EECD90;
        color: green;
        
    }
}
