<ion-header>
    <ion-navbar>
      <ion-title>Alumnos</ion-title>
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="tab" color="primary">
        <ion-segment-button value="lista" (click)="cambiarDeTab()">
          Lista
        </ion-segment-button>
        <ion-segment-button value="agregar" (click)="cambiarDeTab()">
          Agregar 
        </ion-segment-button>
        <ion-segment-button value="cargar" (click)="cambiarDeTab()">
          Cargar Listado 
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>

  <ion-content *ngIf="tab == 'lista'">
      <h1>Lista de alumnos</h1>
      <ion-searchbar
        [(ngModel)]="searchValue"
        (ionInput)="onInput($event)">
      </ion-searchbar>
      <ion-item>
        <ion-select [(ngModel)]="filterType">
          <ion-option>Nombre</ion-option>
          <ion-option>Apellido</ion-option>
          <ion-option>Legajo</ion-option>
          <ion-option>Email</ion-option>
        </ion-select>
      </ion-item>
      <ion-card *ngFor="let alumno of alumnos | async">
        <ion-item>
          <h2>{{alumno.apellido}}, {{alumno.nombre}}</h2>
          <p>Legajo: <b>{{alumno.legajo}}</b></p>
          <p>Email: <b>{{alumno.email}}</b></p>
        </ion-item>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small (click)="eliminarAlumno(alumno.$key, alumno.apellido)">
              <ion-icon name="md-close"></ion-icon>
              <div>Eliminar</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="modificarAlumno(alumno)">
              <ion-icon name="md-build"></ion-icon>
              <div>Editar</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>      
  </ion-content>
  
  <ion-content *ngIf="tab == 'agregar'">
      <h1>Agregar alumno</h1>
      
      <ion-card>
        <img style="width: 60%; height: 60%; margin-left: 20%; margin-bottom: -5%;" [src]="imgUrl != 'NADA'? imgUrl : userImg"/>
        <br>
      </ion-card>
      <button id="boton-sacar-foto" class="our-btn" ion-button block (click)="takePicture()">Tomar foto</button>
      <form [formGroup]="formAlta" (ngSubmit)="agregarAlumno()">
        <ion-item>
          <ion-label>Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Apellido</ion-label>
              <ion-input type="text" formControlName="apellido"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Legajo</ion-label>
              <ion-input type="text" formControlName="legajo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="email" [disabled]="disablesFields" formControlName="email" email></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Contraseña</ion-label>
              <ion-input type="password" [disabled]="disablesFields" formControlName="pass"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Turno</ion-label>
              <ion-select (ionChange)="loadMaterias($event)" formControlName="turno">
                  <ion-option value="Man" [selected]="true">Mañana</ion-option>
                  <ion-option value="Noch">Noche</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Martes</ion-label>
              <ion-select formControlName="matMar">
                  <ion-option>Ninguna</ion-option>
                  <ion-option *ngFor="let m of materiasMartes | async">{{m.nombre}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Viernes</ion-label>
              <ion-select formControlName="matVier">
                  <ion-option>Ninguna</ion-option>
                  <ion-option *ngFor="let m of materiasViernes | async">{{m.nombre}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Sabado</ion-label>
              <ion-select formControlName="matSab">
                  <ion-option>Ninguna</ion-option>
                  <ion-option *ngFor="let m of materiasSabado | async">{{m.nombre}}</ion-option>
              </ion-select>
            </ion-item>
            <br>
          <button class="our-btn" ion-button block type="submit" [disabled]="!formAlta.valid">{{modifId == "" ? "Agregar" : "Modificar"}}</button>
      </form>
  </ion-content>

  <ion-content *ngIf="tab == 'cargar'">
    <ion-card>
      <img style="width: 90%;margin-left: 5%;" src="assets/archivo.png"/>
      <ion-card-content>
        <ion-card-title>
          Cargar Archivo
        </ion-card-title>
        <p>
            Cargando los archivos suministrados por la secretaria 
            podés cargar un <b>listado de alumnos al sistema</b>. <br>
            Asegurate de que sean <b>.csv o archivos Exel</b>.
        </p>
      </ion-card-content>
    </ion-card>
    <input (change)="leerArchivo($event)" name="file" id="file" style="opacity: 0" type="file">
    <label style="margin-top: -24px;" class="our-btn" ion-button block for="file">
      <ion-icon style="margin-right: 4px; margin-top: -3px;" name="md-document"></ion-icon>
      Cargar archivo
    </label>
  </ion-content>
</ion-content>