<ion-header>
  
    <ion-navbar>
      <ion-title>Estadisticas</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding>
    <div *ngIf="mostrarencuestas">
   
        <ion-list *ngFor="let item of lista;let i = index;">   
            
            
                
                    <ion-item *ngIf="item.opcion!='tres'" >
                        <div class="cuadro"  >
              <br/>
                <h1 class="royal"> Titulo: {{item.titulo}}</h1>
                <h2 class="royal"> Pregunta: {{item.pregunta}}</h2>
             
                <button 
                ion-button 
                (click)="Seleccionar(item.titulo,item.pregunta,item.opcion)" 
                type="submit" 
                color="primary" 
                block
            >
              Ver Estadisticas
             </button> 
            </div>
            </ion-item>
           
     
     
      </ion-list>
    </div>
<div class="royal" *ngIf="mostrarGraficos">
    
      <div style="display: block ">
        <canvas baseChart height="140"
                [datasets]="ChartData1"
                [labels]="ChartLabels1"
                [options]="ChartOptions1"
                [legend]="ChartLegend"
                [chartType]="ChartType1"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>

    <canvas baseChart width="200" height="200"
    [options]="ChartOptions2"
    [datasets]="ChartData2"
    [labels]="ChartLabels2"
    [legend]="ChartLegend"
    [chartType]="ChartType2"></canvas>
  </div>
  </ion-content>