
<ion-header>

  <ion-navbar>
    <ion-title text-center>Alumnos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo" padding>

  <ion-item class="fondo">
      <img (click)="addNuevoAlumno()" src="assets/imgs/add.png" width="40" height="40">
  </ion-item>

  <ion-item class="fondo">
    <img (click)="cargarArchivos()" src="assets/imgs/excel.png" width="40" height="40">
  </ion-item>

  <ion-list>
    <ion-item  class="fondo" *ngFor="let alumno of listado">
        <img *ngIf="alumno.foto!=''" [src]="alumno.foto">
      <h2>{{ alumno.nombre}}</h2>
      <p>Legajo: {{ alumno.legajo}}</p>
      <button ion-button color="primary" (click)="abrirModalView(alumno)">Detalles</button>
    </ion-item>

  </ion-list>

</ion-content>
