page-listado-alumnos {

    ion-title {
        background-color:#EECD90;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        
    }

    .fondo {
        
                background-color:lightgreen;
                
            }

    .fondo1 {
                
                background-color:#EECD90;
                        
            }

}
