
<ion-header>

  <ion-navbar color="secondary">
    <ion-title text-center>Alumno: {{nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo" padding>

    <img *ngIf="foto" [src]="foto" width="120" height="120" [(ngModel)]="foto" ngDefaultControl>
    
    <br><br>


  <ion-item class="fondo">
    <ion-label>Legajo:</ion-label>
    <ion-input type="text" disabled=true [(ngModel)]="legajo" ngDefaultControl>{{legajo}}</ion-input>
  </ion-item>

  <ion-item class="fondo">
    <ion-label>Nombre:</ion-label>
    <ion-input type="text" [disabled]="mostrarDatos" [(ngModel)]="nombre" ngDefaultControl>{{nombre}}</ion-input>
  </ion-item>

  <ion-item class="fondo">
    <ion-label>Correo:</ion-label>
    <ion-input type="text" [disabled]="mostrarDatos" [(ngModel)]="correo" ngDefaultControl>{{correo}}</ion-input>
  </ion-item>

<br><br>

<button ion-button class="btn" full color="light" (click)="cancelarOpe()">
  Cancelar
</button>
<br>
<button ion-button class="btn1" full *ngIf="mostrarDatos" (click)="eliminarAlumno()">
  Eliminar Alumno
</button>

<button ion-button class="btn1" full *ngIf="!mostrarDatos" (click)="modificarAlumno()">
  Modificar Alumno
</button>

</ion-content>
