<ion-header>
  <ion-navbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    

        <ion-spinner></ion-spinner>
        <button  ion-button  block width="100px"  height="80"  (click)="ingresar('MiPerfil')" >
            <ion-icon name="person"></ion-icon>
             . Mi perfil      
            </button>

          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)=Lista() *ngIf="this.usuario=='admin@admin.com'">
             Lista
              
          </button>

          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)=CargarAlumno() *ngIf="this.usuario=='admin@admin.com'">
             Cargar Alumno  
          </button>
          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)=CargarProfesor() *ngIf="this.usuario=='admin@admin.com'">
             Cargar Profesor  
          </button>
          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)=CargarAdministrativo() *ngIf="this.usuario=='admin@admin.com'">
             Cargar Administrativo  
          </button>
      
        <div *ngIf="this.usuario=='administrativo@administrativo.com'">
            <button color="royal" ion-button  block width="100px"  height="80" 
            (click)="ingresar('TomarLista')">
              Tomar Lista  
            </button> 
            <button    ion-button block width="80px" 
            (click)="ingresar('Listado_Fotos')" >
              Fotos Tomadas
              </button>
              <button color="royal" ion-button  block width="100px"  height="80" 
              (click)="ingresar('Lista')" >
                 Listas
              </button>
        </div>
        <div *ngIf="this.usuario=='profesor@profesor.com'">

            <button  ion-button block width="80px" 
            (click)="ingresar('CrearEncuesta')">
             Cargar Cuestionario
              </button>
              <button  ion-button block width="80px" 
              (click)="ingresar('Estadisticas')">
                Ver Estadisticas
                </button>
                <button   ion-button block width="80px" 
                (click)="ingresar('LectorQR')" >
                  Leer QR
                  </button>
            
          </div>

          <div *ngIf="this.usuario=='admin@admin.com'">
          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)="ingresar('CargarAlumno')" >
             Cargar Alumno  
          </button>
          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)="ingresar('CargarProfesor')" >
             Cargar Profesor  
          </button>
          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)="ingresar('CargarAdministrativo')">
             Cargar Administrativo  
          </button>
          <button color="royal" ion-button  block width="100px"  height="80" 
          (click)="ingresar('Lista')" >
             Listas
          </button>
          </div>
           
          <div *ngIf="this.usuario=='alumno@alumno.com'">
              <button  ion-button block width="80px" 
                (click)="ingresar('RealizarEncuesta')" >
                    Realizar Encuesta 
                    </button>
                 
               <button   ion-button block width="80px" 
               (click)="ingresar('LectorQR')">
                   Leer QR
                 </button>
  </div>
  
      
        <button ion-button block (click)="cerrarSesion()" color="danger">Cerrar Sesión</button>
      </ion-content>
     
  
