
<ion-header>

  <ion-navbar>
    <ion-title text-center>Alta de Profesores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo" padding>

    <img *ngIf="foto" [src]="foto" width="100" height="130">
    <p>Presione en la camara para sacar una foto &nbsp;&nbsp;<img width="40" height="40" (click)="sacarFoto()" src="assets/icon/camara.png">
    </p>
    <!--<ion-icon ios="ios-camera" md="md-camera" (click)="sacarFoto()"></ion-icon>-->
    <ion-item class="fondo1">
      <ion-label>Foto perfil</ion-label>

    </ion-item>

    <ion-item class="fondo">
        <ion-label>DNI:</ion-label>
        <ion-input type="text" [(ngModel)]="dni"></ion-input>
    </ion-item>

    <ion-item class="fondo">
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item class="fondo">
        <ion-label>Correo:</ion-label>
        <ion-input type="text" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item class="fondo">
        <ion-label>Contraseña:</ion-label>
        <ion-input type="password" [(ngModel)]="passw"></ion-input>
    </ion-item>

  <ion-list>
    <ion-item class="fondo1">
        <ion-label>Materias que imparte: </ion-label>
    </ion-item>
    <ion-item >
        <ion-select (ionChange)="marcarOpcion($event)" [(ngModel)]="materiaCheck" multiple="true" cancelText="Cancelar" okText="Aceptar">
            <ion-option *ngFor="let materia of listaMaterias" value={{materia.nombre}}>
              <ion-label>{{materia.nombre | uppercase}}</ion-label>
            </ion-option>
        </ion-select>
    </ion-item>
  </ion-list>

  <button class="btn" ion-button block color="secondary" (click)="ingresarProfesor()">
    INGRESAR PROFESOR
  </button>

</ion-content>
