ion-content {
    font-family: Helvetica !important;
    background-color: #03A9F4 !important;
}

.page-title {
    font-weight: bolder;
    color: #fff;
}

.our-btn {
    background-color: #FF5722 !important;
}

