page-home2 {


    ion-content{
       // background:#8ba987 url('http://www.swiss-net.com.ar/wp-content/uploads/Fondo-negro-con-estructura-en-lineas-746551.jpg') no-repeat center center;
        background: url('../assets/fondo/fondo.jpg') no-repeat transparent;
        background-size:100% 100%;
    }
    
}
