<!--
  Generated template for the TomarListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TomarLista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    
  
        <!--ion-list radio-group *ngFor="let algo of lista;let i = index;" (ionChange)="datachanged(algo.nombre,$event)">   
            <p [hidden]='i+1'></p>
            <div *ngIf="i % 2 >0">
          {{picture}}
            </div>
           <div>
                    <ion-list-header>
                      
                        {{i+1}}
                        {{algo.nombre}}
                      </ion-list-header-->
                    <!--h1 class="colorBlanco"> {{i+1}} - 
                      {{algo.nombre}}</h1> 
                    <ion-item>
                      
                        <ion-label>Presente</ion-label>
                        <ion-checkbox color="dark"  (ionChange)="datachanged($event)" ></ion-checkbox-->
                <!--ion-radio  value="presente"></ion-radio>
              </ion-item>
                <ion-item>
                    <ion-label>Ausente</ion-label>
                <ion-radio  value="ausente"></ion-radio>
              </ion-item>
            </div>
      </ion-list>
  
      <button 
      ion-button 
      (click)="guardarDatos()" 
      type="submit" 
      color="primary" 
      block
  >
    Guardar Datos
  </button--> 
<div *ngIf="MostrarBotones">
  <button 
  ion-button 
  (click)="PorMateria()" 
  type="submit" 
  color="primary" 
  block>
Materia
</button> 
<button 
ion-button 
(click)="PorDivision()" 
type="submit" 
color="primary" 
block>
Division
</button> 
</div>
<div *ngIf="MostrarBotones==false">
  <div class="colorBlanco">
    MATERIA : {{this.materia}}
  
   DIVISION : {{this.division}}
   AULA : {{this.aula}}
   <br/>
   <br/>
  </div>
   <ion-list *ngIf="ocultarMateria==false" radio-group (ionChange)="MateriaSeleccionada($event)">   
            
      <div>  <h1 class="colorBlanco">SELECCIONE MATERIA</h1></div>
                 <ion-item>
                    <ion-label>Metodologia</ion-label> 
                    <ion-radio  value="Metodologia" ></ion-radio>
              </ion-item>
                <ion-item>
                    <ion-label>Base de datos</ion-label>
                <ion-radio  value="BaseDeDatos"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Laboratorio IV</ion-label>
              <ion-radio  value="LaboratorioIV"></ion-radio>
            </ion-item>
      </ion-list>


<div >
    <ion-list *ngIf="ocultarDivision==false" radio-group (ionChange)="DivisionSeleccionada($event)">   
        <div>  <h1 class="colorBlanco">SELECCIONE DIVISION</h1></div>
           <ion-item>
              <ion-label>4 A</ion-label> 
              <ion-radio  value="4A" ></ion-radio>
        </ion-item>
          <ion-item>
              <ion-label>4 B</ion-label>
          <ion-radio  value="4B"></ion-radio>
        </ion-item>
</ion-list>
</div>



<div  *ngIf="mostrarListado">

<!--ion-list>
  <div>  <h1 class="colorBlanco">LISTADO DE ALUMNOS</h1></div>
  <ion-item *ngFor="let student of listaEstudiantes;let i = index;">
    <ion-label text-wrap >{{student.lastname}} , {{student.firstname}}</ion-label>
    <ion-checkbox color="dark" [(ngModel)]="student.present"></ion-checkbox>
  </ion-item>
</ion-list>
<button ion-button icon-right color="dark" (click)="changePicture()">
    Tomar Foto
    <ion-icon name="images"></ion-icon>
  </button>
<button ion-button  color="secondary" (click)="GuardarPresente(listaEstudiantes)" [disabled]="noStudents">
  Guardar</button>
  <button ion-button  color="secondary" (click)="readCsvData()" [disabled]="noStudents">
      readCsvData</button>
  
</div>

</div>
<div>
    
        <table border="1" class="data-table">
            <th>Legajo</th>
            <th>Nombre</th>
            <th>apellido</th>
            <th>Horario</th>
          <tr *ngFor="let row of csvData; let i = index">
            <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
              <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
            </td>
          </tr>
        </table>
     
</div-->


<ion-list>
    <div>  <h1 class="colorBlanco">LISTADO DE ALUMNOS</h1></div>
    <ion-item *ngFor="let student of listaEstudiantes2;let i = index;">
      <ion-label text-wrap >{{student.lastname}} , {{student.firstname}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="student.present"></ion-checkbox>
    </ion-item>
  
  </ion-list>
  <button ion-button icon-right color="dark" (click)="changePicture()">
      Tomar Foto
      <ion-icon name="images"></ion-icon>
    </button>
  <button ion-button  color="secondary" (click)="GuardarPresente2(listaEstudiantes2)" [disabled]="noStudents">
      Guardar</button>
</div>
</div>
  </ion-content>
  