<ion-header>
    <ion-navbar>
      <ion-title>Alumnos</ion-title>
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="tab" color="primary">
        <ion-segment-button value="materias">
          Materias
        </ion-segment-button>
        <ion-segment-button value="buscar">
          Buscar 
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>

  <ion-content *ngIf="tab == 'materias'">

    <ion-card>
      <ion-card-header>
        Elegir Turno:
      </ion-card-header>
      <ion-item>
        <ion-select  (ionChange)="loadMaterias($event)">
          <ion-option [selected]="true" value="Man">Mañana</ion-option>
          <ion-option value="Noch">Noche</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item color="primary">
          <h1 class="titulo-lista">Martes</h1>
        </ion-item>
        <div *ngFor="let m of materiasMartes | async">
          <ion-item (click)="selectMateria(m.nombre, m.curso)">
            <b>{{m.nombre}} {{m.curso}}</b>
            <ion-icon class="incompleto" name="ios-arrow-forward" item-end *ngIf="m.listo == 0"></ion-icon>
            <ion-icon class="completo" name="md-checkmark" item-end *ngIf="m.listo == 1"></ion-icon>
          </ion-item>
          </div>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item color="primary">
          <h1 class="titulo-lista">Viernes</h1>
        </ion-item>
        <div *ngFor="let m of materiasViernes | async">
          <ion-item (click)="selectMateria(m.nombre, m.curso)">
            <b>{{m.nombre}} {{m.curso}}</b>
            <ion-icon class="incompleto" name="ios-arrow-forward" item-end *ngIf="m.listo == 0"></ion-icon>
            <ion-icon class="completo" name="md-checkmark" item-end *ngIf="m.listo == 1"></ion-icon>
          </ion-item>
          </div>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item color="primary">
          <h1 class="titulo-lista">Sábados</h1>
        </ion-item>
        <div *ngFor="let m of materiasSabado | async">
          <ion-item (click)="selectMateria(m.nombre, m.curso)">
            <b>{{m.nombre}} {{m.curso}}</b>
            <ion-icon class="incompleto" name="ios-arrow-forward" item-end *ngIf="m.listo == 0"></ion-icon>
            <ion-icon class="completo" name="md-checkmark" item-end *ngIf="m.listo == 1"></ion-icon>
          </ion-item>
          </div>
      </ion-list>
    </ion-card>
  </ion-content>
  
  <ion-content *ngIf="tab == 'buscar'">
    <h1>Buscar</h1>
    <ion-searchbar
      [(ngModel)]="searchValue"
      (ionInput)="onInput($event)">
    </ion-searchbar>
    <ion-item>
      <ion-select [(ngModel)]="buscarPor">
        <ion-option>Aula</ion-option>
        <ion-option>Profesor</ion-option>
      </ion-select>
    </ion-item>
    
    <div *ngIf="buscarPor == 'Aula'">
      <ion-card *ngFor="let m of materiasFiltradas | async">
        <ion-item (click)="selectMateria(m.nombre, m.curso)">
          <h2>{{m.nombre}} {{m.curso}}</h2>
          <p>Aula: <b>{{m.aula}}</b></p>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-card>      
    </div>

    <div *ngIf="buscarPor == 'Profesor'">
      <ion-card *ngFor="let p of profesores | async">
        <ion-item (click)="selectMateria(p.materia, m.curso)">
          <h2>{{p.materia}} {{p.curso}}</h2>
          <p>Profesor: <b>{{p.apellido}}</b></p>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-card>      
    </div>
  </ion-content>
    
</ion-content>