<ion-header>
  <ion-navbar>
    <ion-title>Asistencia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list>
        <ion-item color="light" (click)="showHideCursos()">
          <h1>Alumnos de <b>{{current.anio}}{{current.curso}}</b></h1>
          <ion-icon name="md-arrow-dropdown" item-end *ngIf="!showCursos"></ion-icon>
          <ion-icon name="md-arrow-dropup" item-end *ngIf="showCursos"></ion-icon>
        </ion-item>
        <div *ngFor="let c of cursos | async">
          <ion-item *ngIf="showCursos" (click)="selectCurso(c.anio, c.curso)">
            {{getTitulo(c.anio)}} {{c.curso}}
            <ion-icon class="incompleto" name="md-close" item-end *ngIf="c.listo == 0"></ion-icon>
            <ion-icon class="completo" name="md-checkmark" item-end *ngIf="c.listo == 1"></ion-icon>
          </ion-item>
          {{setCursoKey(c.anio, c.curso, c.$key)}}
        </div>
    </ion-list>
  </ion-card>

  <ion-card *ngFor="let alumno of alumnos | async" (click)="selecAlumno(alumno.$key)">
    <ion-item>
      <h2>{{alumno.apellido}}, {{alumno.nombre}}</h2>
      <p>Legajo: <b>{{alumno.legajo}}</b> | Curso: <b>{{alumno.anio}}{{alumno.curso}}</b></p>
      <ion-icon name='md-checkmark' class="completo" id="{{alumno.$key}}" style="visibility: hidden;" item-end></ion-icon>
    </ion-item>
  </ion-card>
  <button ion-button block color="secondary" (click)="completarCurso()">Completar</button>
</ion-content>