<ion-header>
  <ion-navbar>
    <ion-title>Alumnos</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" color="primary">
      <ion-segment-button value="lista">
        Lista
      </ion-segment-button>
      <ion-segment-button value="agregar">
        Agregar 
      </ion-segment-button>
      <ion-segment-button value="agregarLista">
        Agregar Lista
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-content *ngIf="tab == 'lista'">

  </ion-content>


  <ion-content *ngIf="tab == 'agregar'">
      <form [formGroup]="formAlta" (ngSubmit)="logForm()">
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Apellido</ion-label>
            <ion-input type="text" formControlName="apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Legajo</ion-label>
            <ion-input type="text" formControlName="legajo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Curso</ion-label>
            <ion-input type="text" formControlName="curso"></ion-input>
          </ion-item>
          
          <button ion-button type="submit" [disabled]="!formAlta.valid">Agregar</button>
        </form>
  </ion-content>

  <ion-content *ngIf="tab == 'agregarLista'">
      Macri Gato
  </ion-content>
  
</ion-content>