
<ion-header>
    
      <ion-navbar>
        <ion-title>Crear Encuesta</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
 
          
              
      <div *ngIf="mostrarForm">
        <form [formGroup]="form" padding>
            <p></p>
            <h2 class="royal"> Titulo de la Encuesta</h2> 

        
            <ion-item>
              <ion-input 
                [(ngModel)]="laencuesta.Titulo" 
                formControlName="titulo" 
                type="text" 
                autocapitalize="off" 
                required
              >
              </ion-input>
            </ion-item>
            <h2 class="royal"> Cargar Pregunta</h2> 
            <ion-item>
                
          
            <ion-input 
              [(ngModel)]="laencuesta.Pregunta" 
              formControlName="pregunta" 
              type="text" 
              autocapitalize="off" 
              required
            >
            </ion-input>
          </ion-item>
          <h2 class="royal"> Fecha Finalizacion</h2> 
          
          <ion-item>
              <ion-label>Desde</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="YYYY MMM DD"  formControlName="fecha"  [(ngModel)]="laencuesta.Fecha"></ion-datetime>
            </ion-item>
             
              <button 
          ion-button 
          (click)="continuar()" 
          type="submit" 
          color="primary" 
          block
      >
        Continuar
       </button>
      </form>
      </div>
 

<div *ngIf="mostrarForm==false">
      
            <ion-list radio-group (ionChange)="opcionSeleccionada($event)">   
                <!--p [hidden]='i+1'></p>
                <div *ngIf="i % 2 >0">
              {{picture}}
                </div-->
               <div>
                  <p></p>
                        <!--ion-list-header>
                          
                            {{i+1}}
                            {{algo.nombre}}
                          </ion-list-header-->
                        <h2 class="royal"> Seleccione posibles respuestas</h2> 
                        <ion-item>
                          
                            <ion-label>Muy Bueno / Bueno / Regular / Malo</ion-label>
                            <!--ion-checkbox color="dark"  (ionChange)="datachanged($event)" ></ion-checkbox-->
                    <ion-radio  value="uno"></ion-radio>
                  </ion-item>
                    <ion-item>
                        <ion-label>Si / No / Puede ser</ion-label>
                    <ion-radio  value="dos"></ion-radio>
                  </ion-item>
                  <ion-item>
                      <ion-label>[texto]</ion-label>
                  <ion-radio  value="tres"></ion-radio>
                </ion-item>
                </div>

                <!--ion-checkbox [(ngModel)]="presente" (ionChange)="AgregarPresente()"></ion-checkbox>
        
            </ion-item-->
          </ion-list>
      
          <!--button 
          ion-button 
          (click)="guardarEncuesta()" 
          type="submit" 
          color="primary" 
          block
      >
        Guardar Encuesta
       </button-->
       
      </div>
      </ion-content>
      