<ion-header>
  <ion-navbar color='favorite'>
    <ion-title>Destinatarios</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fondo">  

  <ion-item>
    <ion-label style="color : rgb(85, 158, 218)">Materias</ion-label>
    <ion-select [(ngModel)]="destinatarios" multiple="true">
      <ion-option *ngFor="let a of listExcel; let i = index" value="a.$key" [value]="a.$key">{{a.$key}}</ion-option>
    </ion-select>
  </ion-item>
  
  <br>

  <ion-item>
    <div style="color : rgb(26, 18, 92)">Destinatarios:</div>
  </ion-item>

  <ion-item *ngFor="let d of destinatarios">
    <div style="color : rgb(26, 18, 92)">{{d}}</div>
  </ion-item>

  <br>
  <br>
  <!--<button ion-button (click)="cerrarModal()">Guardar</button>-->

  <!--<button ion-button (click)="mostrarDestinatarios()">mostrarOP</button>-->

  <button ion-button (click)="siguiente()" style="float:right;" class="btnEnv" round [disabled]="verificarDestinatarios()">Siguiente</button>

</ion-content>