page-menu {

ion-title {
    background-color:#EECD90;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
 }

.fondoMenu {
    
    background-color:lightgreen;
            
 }

.itemMenu {
    background-color:lightgreen;
    
 }

.lista {
    position: absolute;
    top: 10%;
    
 }

}